/*------------- Reset browser differences ------------- */



* {
	padding: 0;
	margin: 0;
}


/* ------------ Body styles ------------ */


body {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(230,230,230,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=1 );
	color:#667073;
	font: 16px/1.3 'Arial',sans-serif;
}




/* ------------ Header styles ------------ */



/* ------ Home ------ */



#logo {
	text-decoration: none;
	color:white;
}
#logo:visited {
	color: white;
}


/* ------ Invite ------ */


.banner {
	height: 70px;
	background-color: #e7e7e7;
	margin-bottom: 200px;
	text-align: center;
}

.banner img{
	height: 60px;
	width: 190px;
}
.bannertext {
	text-align:center;
	padding-top: 15px;
	font-family: 'Open Sans Condensed',serif;
	font-weight: bold;
	color:white;
	font-size:25px;
}
.bannertext span {
	color: #d6441b;
}




/* ------------ Section styles ------------ */



/* ------ Home ------ */


.homesection {
	text-align:center;
	margin-top:170px;
}

.node {
	padding-top: 20px;
	text-align:center;
	margin-bottom:120px;
}
.node #chat {
	font-family: 'Open Sans Condensed';
	font-weight: normal;
	color: #707368;
}

#nodelogo {
	width: 450px;
	height: 121px;
	margin-bottom: 35px;
}


.button {
      display: inline-block;
      position: relative;
      width: 130px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
	  font-weight: bold;
      background-color: #45473c;
      color: #fff;
	  padding: 20px;
    }
    
.button > paper-ripple {
  border-radius: 2px;
  overflow: hidden;
}

.button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}
	
	
#create {
	width: 300px;
	height: 100px;
	background-color: #45473c;
	text-align:center;
	font-weight: bold;
	display: block;
	margin:0px auto;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 70px;
	color: #eeffff;
}
#create:visited {
	color: #eeffff;
	text-decoration: none;
}
#createbutton {
	padding-top: 28px;
}
#little {
	font-weight: normal;
	font-size: 13px;
}
#big {
	font-weight: bold;
	font-size: 23px;
}
.tutorial{
	margin-bottom:90px;
}
#tutorial {
	color: #88bfd4;
}
#tutorial:visited {
	color: #88bfd4;
}



/* ------ Connected ------*/

.connected {

}
.connected h2 {

}

.infoConnected {

}


.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #45473c;
    margin: 0 auto;
}

.login-block h1, h2{
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

h5{
    text-align: center;
    color: #000;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}
.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 10px 0 10px;
    outline: none;
}

.login-block input#hisName,#yourName{
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#hisName:focus, #yourName:focus{
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#hisEmail, #yourEmail {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input#hisEmail:focus, #yourEmail:focus {
    background: #fff;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #45473c;
}

.login-block input#hisEnter,#yourEnter {
    width: 100%;
    height: 40px;
    background: #45473c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #45473c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}

/* ------ Person Inside ------*/



.infoInside {
}

#ownerImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}



/* ------ Invite ------ */


.invite-textfield {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
}
.invite-textfield h2 {
	padding-top: 80px;
}
.invite-textfield h5 {
	 font-weight: normal;
	 margin: 10px 0 35px;
 }
.invite-textfield .link {
	width: 600px;
	height: 35px;
	text-align:center;
	display: block;
	margin:0px auto;
	padding-top: 15px;
	margin-bottom:120px;
	border-radius: 4px;
	background-color: #f0f1f3;
}
.invite-textfield #link{
	text-decoration: none;
	color: #637277;
}


/* ------ Left ------*/

.left {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 400px;
}
.left h2 {
	padding-top: 50px;
	padding-bottom: 6px;
}
.left h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#leftImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.nickname-left {
	width: 40px;
	overflow: hidden;
}

/* ------ Too many People ------*/


.toomanypeople {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
}
.toomanypeople h2 {
	padding-top: 100px;
	padding-bottom: 8px;
}
.toomanypeople h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#room:visited {
	color: #88bfd4;
}



/* ------ No Messages ------ */


.nomessages {
	text-align:center;
	display: block;
	margin:0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 400px;
}
.nomessages h2 {
	padding-top: 50px;
	overflow: hidden;
	padding-bottom: 6px;
}
.nomessages h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#noMessagesImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#img {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.info {
	text-align: left;
	float: right;
	margin: 65px 60px 0 0;
	width: 405px;
	overflow: hidden;
}
.nickname-chat {
	overflow: hidden;
}


/* ------ Chat Screen ------ */



.image {
	clear:both;
	float:left;
	height: 160px;
	width: 80px;
	text-align:center;
	overflow: hidden;
}

.image img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.body {
	text-align:center;
	width: 40%;
	display: block;
	margin:0px auto 650px;
	background-color: #ffffff;
	color: #637277;
}

.chats {
	list-style-type: none;
	margin-top:10px;
}

.me {
	clear:both;
	float:left;
	margin-bottom:10px;
}

.you {
	clear:both;
	float:right;
	margin-bottom:10px;
}

.you .image{
	float:right;
}

.chats .me p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.chats .you p {
	text-align:left;
	float: left;
	display: inline-block;
	margin-right:20px;
	margin-bottom:30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.image b {
	overflow: hidden;
	display: block;
	clear: both;
	padding-top: 7px;
}

.image i{
	font-size: 12px;
	line-height: 1.2;
	display: block;
	opacity: 0.8;
	padding-top: 4px;
}


/* ------------ Footer styles ------------ */

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding-top: 30px;
	background-color: white;
	height: 130px;
}
#chatform {
	width:700px;
	margin: 0 auto;
	background-color: white;
}

#message {
	width: 550px;
	height: 80px;
	display: block;
	float:left;
	margin: 0 auto;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding-left: 20px;
	padding-top: 20px;
	resize: none;
	font:inherit;
	color:inherit;
}

#submit {
	width: 110px;
	height: 60px;
	float:right;
	text-align:center;
	background-color: #91c83f;
	display: block;
	margin: 0 auto;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 17px;
	outline: none;
	cursor:pointer;
}




/* ---------------------- HIDE -------------------------- */


.connected {
	display: none;
}

.personinside {
	display: none;
}

.invite-textfield {
	display:none;
}

.left {
	display:none;
}

.toomanypeople {
	display:none;
}

.nomessages{
	display:none;
}

footer {
	display:none;
}

.chatscreen{
	display:none;
	width:700px;
	margin: 0 auto 200px;
	overflow:hidden;
}